  <div class="flex flex-col items-center h-36">
    <p class="h-auto m-auto text-xl font-semibold">
      <%= t 'defaults.title' %><br>
      &emsp;&emsp;<%= t 'defaults.sub_title' %>
    </p>
  </div>